@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}

.cookie-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}





.cookie-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.cookie-image {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

