@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}



.titre{
  animation: fadeIn 0.9s ease-out forwards; /* Ajouter une animation fadeIn de 2 secondes avec ease-out */

}
.breadcrumb{
  animation: appearFromLeft 1.2s ease-out forwards;

}
@keyframes appearFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.containe {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 80px;
    left: 0px;
    gap: 100px 50px;
    padding: 100px 50px;
    opacity: 0; /* Définir l'opacité initiale à 0 */
    animation: fadeIn 1.5s ease-out forwards 0.4s; /* Ajouter une animation fadeIn de 2 secondes avec ease-out */

  }

  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Optionnel : ajoute un léger déplacement vers le haut */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
  .containe .carte {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 800px;
    height: 160px;
    left: -0px;
    background: #f7f7f7;
    border-radius: 12px ;
    box-shadow:  0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
  
  }
  
  .containe .carte {
    height: 260px;
    
  }
  .containe .carte .imgBx {
    position: absolute;
    top: -150px;
    left: -90px;
    width: 300px;
    height: 270px;
    border-radius: 12px 12px 20px 20px ;
    transform: scale(0.80);
    overflow: hidden;
    opacity: 0.6;
    animation: animateImgBx 1.5s cubic-bezier(0.1, 0, 0, 0) forwards;
  }
  .containe:hover .carte .imgBx {
    top: -80px;
    left: -135px;
    transform: scale(0.85);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
    opacity: inherit;
    transition: 1.5s;
  }
  .containe .carte .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover; 
  }
  
  .containe .carte .conten {
    left: 70px;
    position: absolute;
    width: 100%;
    padding: 0 30px;
    height: 45px;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .containe .carte .conten {
    position: relative;
    flex-direction:row;
    top: 20px;
    left: 35px;
    height: 100%;
    transition: 1.2s;
  }
  .containe .carte:hover::before .conten {
    opacity: 1.5;
  }
  .containe .carte:not(:hover) .conten {
    transition: opacity 0.5s ease;

  }
  
  
  .containe .carte .conten h2 {
    font-size: 0.9em;
    font-weight: 600;
    color: black;
    position: relative;
    left: 94px;
    top: 15px;
  
  }
  
  
  
  .containe .carte .conten p {
    
    color: #333;
    position: relative;
    width: 80%;
    left: 89px;
    font-size: 0.9em;
    top: 14px;
    transition: 0.5s;
  }
  
  
   @media only screen and (max-width: 768px) {
    .containe {
      
      top: 20px;
      left: 0px;
      gap: 20px;
      padding: 50px 20px;
    }


    .containe .carte{
      width: 350px;
      height: 460px;
      left: -2px;
    }
  
    
  
    .containe .carte .imgBx {
      position:absolute;
      top: 2%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 90px;
      border-radius: 12px 12px 20px 20px ;
      overflow: visible;
      opacity: 0.7;
      animation: none;
      transition: 1.5s;
      
    }
  
    
    .containe .carte .imgBx img {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
    }

  
    
  
    .containe .carte .conten {
      top: 54px;
      left: -45px;
      transition: 1.2s;
      font-size:small;
    }
  
    
  
    .containe .carte .conten h2 {
      display: flex;
      white-space: nowrap; /* Empêcher le retour à la ligne du texte */
      overflow: hidden; /* Cacher le débordement du texte */
      position: relative;
      left: 30px;
      font-size: 18px;
      top: 4px;
      transition: 0.5s;
      visibility: visible;
      
    }
  
    .containe .carte .conten p {
      left: 27px;
      transition: 0.1s;
      width: 100%;
      top: 12px;
      font-size:15px ;
      display: flex;
      position: relative;
      visibility: visible;
    }
  
    
  }
  
  
  
   
   